/* LeaderBoard Left H1 Styles */
.leaderBoard_left_h1 {
    line-height: 40px;
    font-family: 'Roboto';
    font-size: 1.8rem;
    font-weight: bold;
}

/* Icon Box H1 Styles */
.icon_box_h1 {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: bold;
}

/* Why Choose Us Styles */
.why_choose_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    height: max-content;
    overflow: hidden;
    /* background: url('bg.jpg'); */
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: calc(100vw - 170px) 160px;
    background-size: 200px;
}

/* Icon Boxes Styles */
.icon_boxes {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    flex-wrap: wrap;
}

/* Icon Box Styles */
.icon_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
}

/* Icon Box Icon Styles */
.icon_box_icon {
    font-size: 50px;
    color: #212121;
}

/* Icon Box P Styles */
.icon_box_p {
    font-family: 'Roboto';
    text-align: center;
    margin-top: 2px;
}

/* WCU Service Styles */
.wcu_service {
    font-family: 'Roboto';
    padding: 0 20px;
    font-size: 0.9rem;
}
